/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General body styling */
body {
    width: 600px;
    margin: 0 auto;
    background-color: #fffded;
    border: 3px solid #931420;
    font-family: Arial, Helvetica, sans-serif;
}

/* Background for the entire page */
html {
    background-color: white;
}

/* Header styling */
header {
    padding-top: 1.5em;
    padding-bottom: 2em;
    background: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
    border-bottom: 3px solid #931420;
}

header img {
    float: left;
    padding-right: 30px;
}

header h2 {
    font-size: 170%;
    color: #800000;
}

header h3 {
    font-size: 130%;
    font-style: italic;
    color: #800000;
}

/* Text shadow for "75th" */
.shadow {
    text-shadow: 2px 2px #800000;
}

/* Main content styling */
main {
    padding: 0 30px;
}

main h1 {
    font-size: 150%;
    color: #800000;
    border-top: 3px solid #931420;
    border-bottom: 3px solid #931420;
    padding: 0.5em 0;
    text-align: center;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

main h2 {
    color: #800000;
    font-size: 130%;
    padding: .5em 0;
}

main h3 {
    font-size: 105%;
    color: #800000;
}

/* Italicized blockquote */
blockquote {
    font-style: italic;
    margin: 1em 0;
    padding-left: 1em;
    border-left: 3px solid #931420;
}

/* Footer styling */
footer {
    background-color: #931420;
    padding: 1em;
    color: white;
    text-align: center;
}

/* Link hover and focus styling */
a:hover, a:focus {
    font-style: italic;
    color: #800000;
}
